<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{url_for('curl_page')}}">Stream Tweets</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Twitter Sentiment Analysis Application</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Please select a location to view map, or select "Keyword" to filter tweets.</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('location_page',location="NY")}}" role="button">New York</a></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('location_page',location="LA")}}" role="button">Los Angelas</a></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('location_page',location="CH")}}" role="button">Chicago</a></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('location_page',location="US")}}" role="button">US</a></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('input_page')}}" role="button">Keyword</a></p>
            
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Abstract</h4>
                <p>For our project we created an application that scrapes tweets in real-time across the continental United States. Our application then creates and displays dynamic map of the United States showing the location and sentiment of the streamed tweets. To do the sentiment analysis we used the TextBlob python library, and to create the map we used the gmplot library. Our application is built using a Flask front end which allows the user to specify their various desired inputs, such as a location to center the map on and a keyword to parse the database with. The output from our application will be a rendered map depicting the overall emotion of the United States, centered on the specified location or showing only tweets containing the specified keyword. Additionally, this map displays the most common words in both positive and negative sentiment tweets as a 'event discovery' method, however, this functionality is pretty basic at this point in time. </p>

            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Mikel Kota, Gabriel Wright, Anthony DiFalco-- Social Sensing -- Spring 2018 -- Notre Dame </p>
        </footer>
 
    </div>
{% block body %}{% endblock %}
