<!DOCTYPE html>
<html lang="en">
<head>
  <title>db Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default" style="background-color:cyan">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Computer Vision Research Lab</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('students_page')}}">Students</a></li>
      <li><a href="{{url_for('classes_page')}}">Classes</a></li>
      <li><a href="{{url_for('schedule_page')}}">Schedules</a></li>
    </ul>
  </div>
</nav>
{% block body %}{% endblock %}

